*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: rgb(246, 216, 246);
}

header{
    background-color: rgb(0, 0, 22);
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 10px;

}

.link-btn{
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.595);
    margin: 5px;
}
.link-btn:hover{
    color: white;
}
.link-btn:active{
    color:  rgb(246, 216, 246);

}
.active{
    color:  rgb(246, 216, 246);
}
.logo {
    background-color: white ;
    width: 15px;
    height: 15px;
    margin-right: 20px;

}
.links{
    float: right;
    margin-right: 10px;
}



/* products */
.product-container{
    margin: 10px auto 10px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows:  repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
    justify-content: center;
}

.product-box{
    width: 85%;
    height: auto;
    border: 2px solid rgba(255, 136, 249, 0.215);
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 10px;
}
.product-box:hover{
    border: 2px solid rgb(0, 0, 0);

}
.product-box h1{
    font-size: 30px;
    font-weight: bold;
}

.p-img-holder{
    margin: 0px auto;
    width: 40%;
    height: 100px;
}
.product-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.p-btns{
    margin: 20px auto  10px;
}
.product-btn{
    background-color: rgba(0, 0, 0, 0.581);
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 5px;
}
.product-btn:hover{
    background-color: black;
}
.product-btn:active{
    background-color: rgb(255, 255, 255);
    color: black;
}
.product-btn:disabled{
    background-color: rgba(0, 0, 0, 0.238);
    color: rgba(255, 255, 255, 0.473);
}


/* products page */

.header-text{
    text-align: center;
    position: relative;
    top: 50px;
    margin: 10px auto 100px;
}

/* Contact us page */

.contact{
    width: 75%;
    height: 400px;
    border: 1px solid rgba(255, 136, 249, 0.567);
    border-radius: 10px;
    position: relative;
    top: 75px;
    margin: 0px auto;
    padding: 10px;

}

.contact-img-holder{
    width: 50%;
    height: 250px;
    margin: 30px auto;
}

.contact-img{
    width: 100%;
    height: 100%;
}
.contact-info{
    padding: 20px;
    text-align: left;
   
}
.contact-info h1{
    font-size: 25px;
    font-weight: bold;
}
.sect-1 {
    width: 50%;
    height: auto;
    float: left;

}
.sect-2 {
    width: 50%;
    height: auto;
    text-align: center;
    float: right;
}
.info-tbl td{
    padding: 5px;
}
.info-tbl .logo{
    float: right;
}

/* admin page */

.wrap{
    margin-top: 100px;
    width: 100%;

}
.inpt-field{
    background-color: rgb(255, 241, 255);
    width: 70%;
    height: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;

}
.inpt-field table{
    margin: 0px auto;
}
.inpt-field td{
    padding: 10px;

}
.inpt-box {
    border-radius: 10px;
    padding: 2px;
}
input::file-selector-button {
  display: none;
}
.img-input {
    margin: 10px 0px;
    /* margin-left: 5%; */
}
.img-input input[type=file]{
    background-color: rgba(0, 0, 0, 0.581);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 150px;
    padding-left: 25px;
}
.img-input input[type=file]:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.img-label{
    margin-right: 30px;
}

/* table of products */

.tab-img{
    width: 75px;
    height: 75px;
}
.p-tbl{
    border-radius: 15px;
    padding: 10px;
}
.tabhead{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
}
.tab{
     background-color: rgba(0, 0, 0, 0.519);
    color: white;
    padding: 10px;
    margin: 150px;
    border: 1px solid white;
}
.p-tbl tr:hover td{
    background-color: rgb(25, 0, 22);
    color: white;
}
.p-tbl tr:active td{
    background-color: rgba(25, 0, 22, 0.089);
    color: black;
    border: 1px solid black;
}

/* MODAL */

dialog {
    background-color: rgb(255, 241, 255);
    width: 50%;
    position: fixed;
    top: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
.modal-img{
    width: 90%;
    height: 250px;
    margin: 0px auto;
}
.m-info-tbl, .p-m-btns{
    margin: 0px auto;
    text-align: center;
}
.m-info-tbl td{
    margin: 5px;
    padding: 5px;
    text-align: left;
}
.m-info-tbl th{
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}
.label-modal {
    font-weight: bold;
}
#total-modal{
    border: none;
    outline: none;
    background-color: rgb(255, 241, 255);
}
#amnt-modal{
    border-radius: 10px;
    padding: 2px;
}
.p-m-btns{
    margin: 30px auto 30px;
}

/* check out */

#check-out{
    background-color: rgb(255, 241, 255);
    width: 25%;
    position: fixed;
    top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#check-out table{
    margin: 10px auto;
}
.co-input{
    border-radius: 10px;
    padding: 2px;
}