*{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}
body{
    background-color: #E3D1C9;
}

/* NAVIGATION BAR  */

header{
    width: 100%;
    height: auto;
    /* background-color: #230c33; */
    background-color: #3E1D5B;
    color: #F1E8E4;
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    font-weight: bolder;
    margin: 0 10px;
}
nav{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.navi{
    width: 100%;
}
.nav-btns{
    float: right;
}
.nav-btns a{
    color: #F1E8E4;
    text-decoration: none;
    margin: 0 10px;
}

/* MAIN */

.main-wrap{
    width: 80%;
    margin: 0 auto;
}

    /* promotions */

.promo-img, .promos, .promo-dsc,.new-products, .products{
    width: 100%;
}
.promos{
    margin: 30px auto 5px;
}
.promo-img img{
    width: 100%;
    height: 350px;
}
.promo-img{
    margin-bottom: -10px;
}
.promo-dsc{
    padding: 15px 0;
    background-color: #592E83;
    color: #F1E8E4;
}
.promos-tbl{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.promos td{
    width: 30%;
}

    /* PRODUCTS */

.products{
    background-color: #F1E8E4;
    height: auto;
}
.title{
    margin: 15px auto;
    border: 1px solid #F1E8E4;
    text-align: center;
}
.product-grid{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    justify-content: center;
    justify-items: center;
}

.product-box{
    width: 90%;
    background-color: #F1E8E4;
    /* border:1px solid #230c33; */
    padding: 10px;
}
.product-img, .product-info, .product-btn{
    width: 80%;
    margin: 0 auto;
}
.product-img{  
    height: 175px;
}
.p-img{
    width: 100%;
    height: 100%;
}
.p-name{
    font-weight: bolder;
    margin: 10px auto;
}

.p-info{
    float: right;
    margin: 0 20px;
}

.product-btn button{
    background-color: #592e834f;
    font-weight: bold;
    color: black;
    margin: 10px auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.product-btn button:hover{
    background-color: #592e83e5;
    color: #F1E8E4;
}
.product-btn button:active{
    background-color: #3E1D5B;
    color: #F1E8E4;
}

/* FOOTER  */

.footer{
    margin-top: 50px;
    width: 100%;
    height: auto;

}
.footer-info{
    width: 100%;
    background-color: #230c33;
    color: #F1E8E4;
    padding: 30px 0;
    display: flex;
}
.footer-space, .footer-tbl{
    width:50%;
}
.footer-tbl td{
    width: 50%;
}

 /* MODAL */

dialog{
    width: 50%;
    position: fixed;
    top: 100px;
    margin: 0 auto;
    background-color: #F1E8E4;
    border: 5px solid #230c33;
    border-radius: 15px;
}
.modal-wrap{
    width: 100%;
}
.modal-wrap h1{
    margin: 10px auto;
    text-align: center;
}
.modal-left, .modal-right{
    width: 50%;
}
.modal-left{
    float: left;
}
.modal-right{
    float: right;
}
.modal-img-box{
    width: 100%;
    height: 250px;
}
.modal-img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.modal-tbl{
    width: 100%;
    margin-top: 30px;
}
.modal-info{
    margin: 10px 10px 10px 20px;
    font-size: 20px;
}
.modal-label{
    font-weight: bold;
}
.m-info-tbl{
    width: 100%;
}
.m-info-tbl td{
    width: 50%;
}
.modal-data{
    /* float: right; */
    margin-left: 10px;
}

.modal-data label{
    text-align: center;
}
.modal-total, .modal-amnt{
    float: right;;
}
.modal-btns{
    margin: 50px auto 10px;
}
.modal-btns button{
    margin: 0 10px;
    width: 100px;
    background-color: #592e834f;
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 10px;
}
.modal-btns button:hover{
    background-color: #592e83e5;
    color: #F1E8E4;
}
.modal-btns button:active{
    background-color: #3E1D5B;
    color: #F1E8E4;
}
#modal-total{
    border: none;
    outline: none;
    background: none;
}

